/*=====================================nav admin========================================================*/
.sidenav {
    height: 100%;
    width: 14%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.main {
    margin-left: 16%;
    margin-right: 2%;
    font-size: 16px;
    padding: 0px 10px;
}

.p-2 a {
    color: #818181;
    font-size: 20px;
}

.p-2 a:hover {
    color: #f1f1f1;
}
/*===================================== COMPANY ========================================================*/

